* {
    margin: 0;
    padding: 0;
}

body{
    background-color: dodgerblue;
}

main {
    background-color: aliceblue;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 50px;
}

img {
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}
 h1 {
    font-family: "Montserrat Alternates", sans-serif;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
 }
 p {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 25px;
    line-height: 1.7;
    text-align: justify;
 }

  
  .montserrat-alternates-bold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  a {
    font-family: "Montserrat Alternates", sans-serif;
    border-radius: 15px;
    background-color: dodgerblue;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 20px;
    }